.contact-us {
  background-color: rgba(60, 60, 71, 1);
  border-radius: 2em 2em 0% 0%;
  /* position: relative; */
  height: calc(72vh);
  position: absolute;
  bottom: 0px;
  width: 100vw;
  padding: 2em 1em;
}

form {
  height: 100%;
}

h1 {
  color: rgba(252, 252, 253, 1);
}

input {
  width: calc(100% - 16px);
  height: 2.5em;
  border-radius: 1em;
  text-align: center;
  color: rgba(60, 60, 71, 1);
}

input::placeholder,
textarea::placeholder {
  color: rgba(157, 157, 163, 1);
  text-align: center;
  font-size: 1em;
}

input:focus,
textarea:focus,
input:hover,
textarea:hover {
  outline-style: solid;
  outline-color: rgba(140, 129, 247, 1);
  border-color: rgba(140, 129, 247, 1);
}

textarea {
  width: calc(100% - 1em);
  resize: none;
  border-radius: 2em;
  text-align: center;
  color: rgba(60, 60, 71, 1);
}

label {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  font-size: 16px;
  height: 42px;
  width: calc(100% - 16px);
  background-color: #3c3c47;
  color: #fcfcfd;
  padding: 0;
  border: 0;
  border-radius: 8px;
}

.button:hover {
  background-color: rgba(140, 129, 247, 1);
  outline-style: outset;
  outline-color: rgba(140, 129, 247, 1);
  /* border-color: rgba(140, 129, 247, 1); */
}

form li {
  margin: 1em 0em;
}

@media (min-width: 640px) {
  .form-container {
    display: flex;
    justify-content: center;
  }
  .contact-us {
    width: 50%;
  }
}

/* We are going to add or second break point for desktop version */
@media (min-width: 1008px) {
}
